.logoWrapper{
    display: flex;
    align-items: center;
}

.logoImg {
    width: 29px;
    height: 29px;
}
.logoImg img{
    width: 100%;
    height: 100%;
}
.logoText{
    font-size: 16px;
    margin: 0;
    margin-left: 4px;
    color: #222;
    font-weight: 500;
}
