.container {
    display: flex;
    margin-left: 10px;
}
.logoutButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #00c9ff;
    transition: all 240ms ease-in-out;
    cursor: pointer;
}
.logoutButton:hover {
    color: #fff;
    background-color: #00c9ff;
}
.logoutButton:not(:last-of-type){
    margin-right: 7px;
}