.navBarContainer {
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  }

  .leftSection {
    display: flex;
  }
  .rightSection {
    display: flex;
  }

.middleSection {
  display: flex;
  flex: 2;
  height: 100%;
  justify-content: center;
}

  

  