.navLinkContainer {
    height: 100%;
    display: flex;
    align-items: center;
}
.linksWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    list-style: none;
}
.linkItem {
      height: 100%;
  padding: 0 1.1em;
  color: #222;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 2px solid transparent;
  transition: all 220ms ease-in-out;
}
.linkItem :hover{
    border-top: 2px solid #2ecc71;
}
.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}